<link href="/css/style.css" rel="stylesheet" type="text/css">

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <div class="inline-block-child">
        <h1 style="font-family: monospace; margin: 1rem;" >Am I Here - AI</h1>
        <span ><h3 ><i  class="fab fa-node-js fa-3x"></i></h3></span>
         <span ><img src='//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/CouchDB.svg/150px-CouchDB.svg.png' style="width: 6em; margin: 1rem;"></span>
         <span ><img src='//ml5js.org/static/ml5_logo_purple-88e082b8dc81d8729f95bcc092db90c5.png' style="width: 6em; margin: 1rem;"></span>
      </div>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
